.custom-card{
  width: 30%;
  height: 100%;
  margin:5% auto auto auto;
  padding-bottom: 5%;
  padding-top:2%;
  text-align: center;
}
.full-width{
  width: 80%;
  margin-bottom: 5%;
  margin-top: 5%;

}
.card-header{
  width: 100%;
  height: 25%;
  justify-content: center;
  align-items: center;
}
.card-title{
  margin-bottom: 10% !important;
}
.mat-divider{
  display: block;
  border-top-width: .11em;
  border-top-style: dashed;

}
form{
  height: 100%;
  width: 100%;
}
.container{
  width: 100%;
  height: auto;
}

.mat-grid-list{
  margin: auto;
}
