
<form [formGroup]="form" (ngSubmit)="submitForm()">
  <mat-card class="custom-card">
    <mat-card-header class="card-header">
      <mat-card-title class="card-title" >
        <strong>Reset your password</strong>
      </mat-card-title>
      <mat-card-subtitle class="card-subtitle">
        It seems you forgot your password. Click on the button below to send an reset email.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>

      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControlName]="'email'" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="form.get('email').hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <mat-grid-list  cols ="2" rowHeight="50px">
        <mat-grid-tile colspan="2">
          <button mat-raised-button type="submit" [disabled]="!form.valid" color="primary">Send reset email</button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-actions>
  </mat-card>
</form>

